body {
    font-family: 'Raleway', sans-serif;
    background-color: #dda15e;
    margin: 0;
}

header {
    display: flex;
    border-bottom: 1px solid black;
    background-color: #283618;
    width: 100vw;
    position: fixed;
    height: 10vh;
    top: 0px;
    left: 0px;
    justify-content: center;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

header h1 {
    font-size: 5vh;
    color: #fefae0;
    margin-block-start: 3vh;
    margin-block-end: 1vh;
}

@media only screen and (max-width: 281px) {
    header h1 {
        font-size: 3vh;
    }
}



#book-container {

    display: grid;
    margin-top: 2vh;
    justify-content: center;
    text-align: center;
    grid-gap: 1vmin;

    /* Rows will be created in javascript when needed */
    grid-template-columns: 30vw 30vw 30vw;
    grid-template-rows: 120px;

}

#book-container h2 {
    margin-block-end: 0px;
    margin-block-start: 1vmin;
    margin-top: 1vh;
    margin-left: .5vw;
    margin-right: .5vw;
}

#lib-container {
    margin-top: 12vh;
}

#btn-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 2vh;
}

#btn-container button {
    width: 10vw;
    height: 40px;
    margin-left: 1vw;
    margin-right: 1vw;
    background-color: #bc6c25;
    font-size: 1em;
    width: 100px;
    height: 40px;
}

#click-book-container {
    display: flex;
    justify-content: center;
    width: 100vw;
    margin-left: 0px;

    /* only do if has information */
}

#form-container {
    display: flex;
    width: 100vw;
    flex-direction: row;
    align-content: center;
    justify-content: center;
}

#input {
    display: flex;
    width: 100vw;
    flex-direction: column;
    align-content: center;
    justify-content: center;


}

#input input {
    height: 30px;
    text-align: center;
    font-size: 1em;
    align-self: center;
    /* margin-top: 10px; */
}

#book-form {
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: center;
    top: 12vh;
    width: 100vw;
}

/* #test-cont {
    display: grid;
    grid-template-columns: ;
    grid-template-rows: ;
    width: 90vw;
    height: 400px;
    border: 1px solid black;
} */
